* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
}

body {
  background-image: radial-gradient(circle at 95% 68%, #482b7b, #251344 58%);
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-main);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}
