:root {
  --font-main: "Inter", sans-serif;
  --clr-white: #fff;
  --clr-yellow: #fce22a;
  --clr-yellow-hover: #fce32aaf;
  --clr-black: #1a0533;
  --clr-white-hover: #ffffffb3;
  --clr-purple: #251344;
  --clr-purple-light: #482b7b;
}

.dark-mode {
  --clr-white: #242424;
  --clr-yellow: #482b7b;
  --clr-yellow-hover: #251344;
  --clr-black: #fff;
  --clr-white-hover: #181818d9;
  --clr-purple: #1a0533;
  --clr-purple-light: #251344;
}
