:root {
  --font-main: "Inter", sans-serif;
  --clr-white: #fff;
  --clr-yellow: #fce22a;
  --clr-yellow-hover: #fce32aaf;
  --clr-black: #1a0533;
  --clr-white-hover: #ffffffb3;
  --clr-purple: #251344;
  --clr-purple-light: #482b7b;
}
