.devices {
  display: flex;
  align-items: center;
  padding: 7rem 0;

  &__text {
    margin-bottom: 5rem;
    h3 {
      color: var(--clr-white);
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
    }

    p {
      color: var(--clr-white-hover);
      font-size: 1.1rem;
      margin-bottom: 3.5rem;
    }

    a {
      border: 2px solid var(--clr-yellow);
      border-radius: 2rem;
      color: var(--clr-white);
      font-weight: 700;
      padding: 1rem 2rem;
      text-transform: uppercase;
      text-decoration: none;
      transition: all .3s;

      &:hover {
        background-color: var(--clr-yellow);
        color: var(--clr-purple);
        box-shadow: 0px 0px 20px var(--clr-yellow-hover);
        transform: translateY(5%);
      }
    }
  }

  img {
    width: 520px;
  }
}
