.header {
  padding: 2.5rem 0;

  &__logo {
    width: 100px;
    margin-right: 2rem;
  }

  form {
    position: relative;
  }

  input {
    background-color: transparent;
    border: 1px solid var(--clr-white);
    padding: 1.2rem;
    border-radius: 2rem;
    width: 350px;
    font-family: var(--font-main);
    color: var(--clr-white-hover);

    &::placeholder {
      color: var(--clr-white-hover);
    }
  }

  button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 8%;
    cursor: pointer;

    i {
      color: var(--clr-white);
      font-size: 1.5rem;
    }
  }

  &__navbar {
    justify-content: space-between;
  }

  &__item {
    list-style: none;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:last-child {
      &::before {
        content: "|";
        margin-right: 1.5rem;
        color: var(--clr-white);
      }

      & a {
        padding: 1rem 2rem;
        border-radius: 1.5rem;
        background-color: var(--clr-yellow);
        color: var(--clr-black);

        &:hover {
          color: var(--clr-black);
          background-color: var(--clr-yellow-hover);
        }
      }
    }

    & a {
      color: var(--clr-white);
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 700;
      transition: all 0.3s;

      &:hover {
        color: var(--clr-white-hover);
      }
    }
  }
}
